################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sandbox1
/.vs
/Issue4/BookLibrary.Console/.vs/BookLibrary.Console
/Issue4/BookLibrary.Console/BookLibrary.Console/bin/Debug/net8.0
/Issue4/BookLibrary.Console/BookLibrary.Console/obj
/Issue4/BookLibrary.Console/.vs/ProjectEvaluation
/Issue4/BookLibrary.Models/.vs/BookLibrary.Models
/Issue4/BookLibrary.Models/BookLibrary.Models/bin/Debug
/Issue4/BookLibrary.Models/BookLibrary.Models/obj/Debug
/Issue4/.vs/BookLibrary.Console/DesignTimeBuild
/Issue4/.vs/BookLibrary.Console/FileContentIndex
/Issue4/.vs/BookLibrary.Console/v17
/Issue4/BookLibrary.Console/bin/Debug/net8.0
/Issue4/BookLibrary.Console/obj
/Issue4/BookLibrary.Models/bin/Debug
/Issue4/BookLibrary.Models/obj/Debug
/Issue4/packages
/Issue4/BookLibrary.Models/.vs
/Issue3/.vs/DAL for the view
/Issue3/DAL for the view/.vs
/Issue3/DAL for the view/bin/Debug/net8.0
/Issue3/DAL for the view/obj
/Issue4/.vs/ProjectEvaluation
/Issue3/DAL for the view/Chinook/bin/Debug
/Issue3/.vs/ProjectEvaluation
/Issue3/DAL for the view/Chinook/obj/Debug
/Issue3/Chinook.DAL/bin/Debug
/Issue3/Chinook.DAL/obj/Debug
/Issue3/.vs/Chinook/FileContentIndex
/Issue3/.vs/Chinook/v17
/Issue3/Chinook.DAL/obj
/Issue3/.vs/Chinook
/Issue3/Chinook.DAL_/.vs
/Issue3/Chinook.DAL_/bin/Debug
/Issue3/Chinook.DAL_/obj
/Issue6/Chinook.UI/.vs
/Issue6/Chinook.UI/Chinook.UI/bin/Debug/net8.0-windows
/Issue6/Chinook.UI/Chinook.UI/obj
/Issue3/Chinook.ConsoleApp/.vs
/Issue3/Chinook.ConsoleApp/bin/Debug/net8.0
/Issue3/Chinook.ConsoleApp/obj
/Issue6/Chinook.UI/Chinook.MusicPlayer/obj/Debug/net8.0
/Issue6/Chinook.UI/Chinook.MusicPlayer/obj
/Issue6/Chinook.UI/MusicPlayer/bin/Debug
/Issue6/Chinook.UI/MusicPlayer/obj/Debug
/Issue6/Chinook.UI/Chinook.MusicPlayer/bin/Debug/net8.0
/Issue6/Chinook.UI/Chinook.UI/.vs/Chinook.UI/FileContentIndex
/Issue6/Chinook.UI/Chinook.UI/.vs/Chinook.UI/v17
/Issue6/Chinook.UI/Chinook.UI/.vs
/Issue6/Chinook.UI/obj/Debug
/Issue6/Chinook.UI/Chinook.UI/bin/Debug/net8.0-windows7.0
/Issue6/Chinook.UI/Chinook.MusicPlayer/bin/Debug/net6.0
/Issue3/mp3/Debug/net8.0-windows7.0/runtimes/browser-wasm/nativeassets/net8.0
/Issue3/mp3/Debug/net8.0-windows7.0/runtimes
/Issue3/mp3/Debug/net8.0-windows7.0
