################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sandbox1
/.vs
/Issue4/BookLibrary.Console/.vs/BookLibrary.Console
/Issue4/BookLibrary.Console/BookLibrary.Console/bin/Debug/net8.0
/Issue4/BookLibrary.Console/BookLibrary.Console/obj
/Issue4/BookLibrary.Console/.vs/ProjectEvaluation
/Issue4/BookLibrary.Models/.vs/BookLibrary.Models
/Issue4/BookLibrary.Models/BookLibrary.Models/bin/Debug
/Issue4/BookLibrary.Models/BookLibrary.Models/obj/Debug
/Issue4/.vs/BookLibrary.Console/DesignTimeBuild
/Issue4/.vs/BookLibrary.Console/FileContentIndex
/Issue4/.vs/BookLibrary.Console/v17
/Issue4/BookLibrary.Console/bin/Debug/net8.0
/Issue4/BookLibrary.Console/obj
/Issue4/BookLibrary.Models/bin/Debug
/Issue4/BookLibrary.Models/obj/Debug
/Issue4/packages
/Issue4/BookLibrary.Models/.vs
/Issue3/.vs/DAL for the view
/Issue3/DAL for the view/.vs
/Issue3/DAL for the view/bin/Debug/net8.0
/Issue3/DAL for the view/obj
/Issue4/.vs/ProjectEvaluation
/Issue3/DAL for the view/Chinook/bin/Debug
/Issue3/.vs/ProjectEvaluation
/Issue3/DAL for the view/Chinook/obj/Debug
/Issue3/Chinook.DAL/bin/Debug
/Issue3/Chinook.DAL/obj/Debug
