################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sandbox1
/.vs
/Issue4/BookLibrary.Console/.vs/BookLibrary.Console
/Issue4/BookLibrary.Console/BookLibrary.Console/bin/Debug/net8.0
/Issue4/BookLibrary.Console/BookLibrary.Console/obj
/Issue4/BookLibrary.Console/.vs/ProjectEvaluation
